.wrapper {
	margin-top: 15px;
}

.navigation-bar {
	display: flex;
	height: 60px;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 500;
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgb(246, 246, 246);
}


.nav-item {
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
	margin: 0px 20px;
}

.contact-form {
	
	padding-left: 300px;
	padding-right: 300px;
}
.logo {
	font-weight: 700;
}
.nav-item, a {
	color: rgba(0, 0, 0, 0.637);
}

a:focus, a:hover {
	color: rgba(0, 0, 0, 0.897) !important;
	text-decoration: none !important;
}

.photo-list {
	margin-top: 30px;
}

.img-list {
	height: 80px;
	width: 80px;
}

.img-list-desc {
	margin-left: 15px;
}

.img-item {
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
}
