@import '~grommet/scss/vanilla/index';

.Logo {
	text-decoration: none;
}

.GalleryTiles {
	margin-bottom: 20px;
}

.GalleryAnchor {
	width: 400px; 
	height: 100px;
}

.GalleryAnchor:hover {
	background-color:#00000011;
	text-decoration: none;
}

.TileBox {
	height: 100%;
}

.TileImage {
	margin-left: 8px;
	width: 80px;
	height: 80px;
}

.BackAnchor {
	margin-right: 40px;
}

.ModalLayer > div {
	width: 100%;
}

.fade-enter {
	opacity: 0;
	z-index: 1;
}
  
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 250ms ease-in;
}